.wallpaper {
    background: url('../../assets/img/hearthstone-wallpaper.jpg');
    background-size: cover;
    height: 100vh;
}

.menu {
    display: flex;
    transform: translate(-50%, -50%);
    border-radius: 2rem;
    position: absolute;
    left: 50%;
    bottom: 10%;
    gap: 1rem;
    justify-content: center;
    width: 35%;
}
