.card {
    position: relative;
}

.card img {
  width: 100%;
  display: block;
  border: 2px solid #fff;
  border-radius: 6px;
}

.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
  border: none;
}
.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
  height: 9rem;
  width: 6vw;
}

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
  height: 9rem;
  width: 6vw;
  border: none;
}
.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}