body {
  user-select: none;
}

.App {
  display: flex;
  max-width: 860px;
  margin: 40px auto;
  align-items: center;
  justify-content: center;
}

button {
  background: none;
  border: 4px solid #804c22;
  outline: 5px solid #d4b95b;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  width: 35%;
}

button:hover {
  background: #d4b95b;
  color: #000000;
}

body {
  color: white;
  background: black;
}

.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.leftDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 2%;
  top: 7%;
}

.gameOverMessage {
  font-size: 8rem;
  color: red;
  background: black;
  padding: 2rem;
  border-radius: 2rem;
  position: absolute;
  top: 25%;
  left: 33.5%;
  z-index: 10;
}

.lecteur {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.cercle img {
  width: 20px;
  border-radius: 50%;
  margin: 0%;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(167,17,170.349);
}

.logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 400px;
  padding: 25px;
  border-radius: 15px;
}

.player {
  border: 4px solid #804c22;
  outline: 5px solid #d4b95b;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #627cb3;
  padding: 1rem;
  border-radius: 2rem;
}